/*----------------------*\
        Principal
\*----------------------*/ 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

html {
    background-color: #161d23;
    font-family: 'Montserrat', sans-serif;
}



a {
  text-decoration: none;
  color: black;
}




/*----------------------*\
        Header
\*----------------------*/

header {
  margin-left: 1rem;
  width: 98%;
}

.logo img {
  width: 15%;
}

.menu {
  margin-top: -0.5rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu a {
  font-size: 1.2rem;
  padding: 1rem;
  color: white;
}

.menu a img {
  width: 65%;
  margin-top: 0.4rem;
  color: white;
}

/*----------------------*\
          Footer
\*----------------------*/

footer {
  cursor: pointer;
    color: #fff;
    font-size: 14px;
    bottom: 2%;
    width: 100%;
    text-align: center;
}

/*----------------------*\
          Index
\*----------------------*/

.banner-text {
  margin-top: 6rem;
  margin-left: 1rem;
  width: 70%;
}

.banner-text h1 {
  font-size: 4rem;
  font-weight: 700;
  color: white;
}

.banner-container p {
  font-size: 1rem;
  color: white;
}

.banner-container {
  margin: 1rem 6rem;
  width: 90%;
}

.banner-image img {
  width: 100%;
}

.banner-text a {
  text-decoration: none;
  color: white;
  border: 2px solid white;  
  padding: 0.5rem 3rem;
  border-radius: 20px; 
  background-color: #161d23;
}

.fav-product-container {
  margin: 3rem 5rem;
  width: 90%;
}

.fav-product {
  border-radius: 5%;
  margin-bottom: 3rem;
  border: white 2px solid;
}

.fav-product-text {
  margin-left: 15%;
} 

.fav-product h3 {
  color: white;
  font-size: 1.7rem;
}

.fav-product p {
  color: white;
  margin-top: 2.3rem;
  font-size: 1.2rem;
}

.fav-product img {
  width: 70%;
  border-radius: 10px;
  margin-top: 10%;
  margin-left: 15%;
}




/*----------------------*\
        Scrollbar
\*----------------------*/

::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track {
  background-color: #161d23;
}


/*----------------------*\
     Dropdown usuario
\*----------------------*/
.dropdown {
  position: relative;
}

.dropdown-content {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50px;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.15s ease-out;
  overflow: hidden;
}

.dropdown:hover .dropdown-content {
  transform: scaleY(1);
}

/*----------------------*\
    Botones Dropdown
\*----------------------*/
.dropdown-content a{
  color: #161d23;
  font-size: 14px;
  max-width: 90px;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  white-space: nowrap;
}

.dropdown-content a[href="login/logout.php"]:hover {
  color: #ff0000;
}

.dropdown-content a[href="../login/logout.php"]:hover {
  color: #ff0000;
}

.dropdown img {
  width: 30px;
  height: 30px;
  margin-left: -20px;
}

.descripcion-producto {
  margin-top: -12312rem;
}

