/*----------------------*\
          Index
\*----------------------*/

.banner-text {
    margin-top: 6rem;
    margin-left: 1rem;
    width: 70%;
  }
  
  .banner-text h1 {
    font-size: 60px;
    font-weight: 700;
    color: white;
  }
  
  .banner-container p {
    font-size: 1rem;
    color: white;
  }
  
  .banner-container {
    margin: 1rem 6rem;
    width: 90%;
  }
  
  .banner-image img {
    width: 100%;
  }
  
  .banner-text a {
    text-decoration: none;
    color: white;
    border: 2px solid white;  
    padding: 0.5rem 3rem;
    border-radius: 20px; 
    background-color: #161d23;
  }
  
  .fav-product-container {
    margin: 3rem 5rem;
    width: 90%;
  }
  
  .fav-product h3 {
    color: white;
    font-size: 1.7rem;
  }
  
  .fav-product p {
    color: white;
    font-size: 1rem;
  }
  
  .fav-product img {
    width: 70%;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 15%;
  }

  .banner-image img{
    border-radius: 10px;
  }
  
  /*----------------------*\
         Buttons
\*----------------------*/

button {
  margin-left: 25%;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  margin-bottom: 5%;
}

.btn-3 {
  background: #03A64A;
  background: linear-gradient(to right, #03A64A, #8EC758);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: linear-gradient(to right, #03A64A, #8EC758);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
  background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
  color: white;
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, #03A64A, #8EC758);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}